<p>test works!</p>
<div class="text-white p-4">
  I stay in parent, but cam from child {{ child }}
</div>
<!-- Passing Data from parent to child component -->

<input type="text" [(ngModel)]="title" class="text-black" name="title" />
<app-child [title1]="title" (setTitle)="childData($event)"></app-child>

<!-- Passing Data from parent to child component through ViewChild-->
<label for=""
  >Enter City Name <input class="text-black" type="text" #city
/></label>
<div class="mb-2">
  <button mat-stroked-button (click)="sendToChild(city.value)">send</button>
</div>
<!-- Store Testing -->
<mat-divider class="py-2"></mat-divider>
<!-- <mat-divider></mat-divider> -->
<div class="flex gap-2">
  <button mat-stroked-butto (click)="increment()">Increment</button>
  <button mat-flat-button (click)="reset()">reset</button>

  <button mat-stroked-button (click)="decrement()">Decrement</button>
</div>
<h2>{{ "Counter -->" }} {{ counterVal }}</h2>
<mat-divider class="py-2"></mat-divider>

<!-- Adding Users using Computed Signals -->
@defer (on timer(1000ms)) {
<div class="mb-2">
  <h3 class="text-lg font-medium">Adding Users to the list</h3>
  <div class="flex gap-2 align-middle items-center">
    <label for=""
      >Enter User Name <input class="text-black" type="text" #user
    /></label>
    <button mat-stroked-button (click)="addUser(user.value)">Add User</button>
  </div>
  <div>
    <h2 class="text-xl font-medium">Current users are</h2>
    @if(listOfUsers().length ==0){ No Users } @for(user of listOfUsers();track
    user){
    <div>{{ user.id }} - {{ user.name }}</div>

    }
  </div>
</div>
} @placeholder {
<h2>Loading content</h2>
}
